version: '3.8'

services:
  bot:
    build: .
    container_name: bot-tele-auto-order
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${WEBHOOK_PORT:-8080}:8080"
    volumes:
      - ./logs:/app/logs
    networks:
      - bot-network

networks:
  bot-network:
    driver: bridge
