services:
  telegram-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bot-tele-omegatronik
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./database:/app/database
      - ./logs:/app/logs
    ports:
      - "8095:3000"
